* {
  padding: 0;
  margin: 0;

  font-family: inherit;
  text-decoration: none;
}

/*======== Header ========*/
header {
  height: 170px;
  width: 100vw;

  background: #005021;

  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  max-width: 300px;
}

/*======== Content ========*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .news,
.container .services {
  max-width: 900px;
  width: 100%;
}

.container .news h2,
.container .services h2 {
  margin-top: 15px;

  color: #00682b;
  background: linear-gradient(to bottom, white, #01ca55);
}

/*======== News ========*/
.container .news .post {
  margin-top: 5px;
  padding: 10px;

  border: rgb(206, 205, 205) solid 1px;
}

a.title-post {
  font-size: 25px;
  font-weight: bold;
  color: #005021;
}

.container .news .post .date {
  font-size: 15px;
  color: grey;

  margin-top: 10px;
}

.container .news .post .inside-post {
  padding: 5px;
}

.container .news .post .inside-post .img-post{
  height: 150px;
  margin-right: 20px;
  margin-bottom: 10px;

  float: left;
  
  border-radius: 20px;
}

.container .news .post .category-post {
  margin-top: 5px;
  clear: both;
}

.container .news .post .category-post .category-link {
  color: white;
  background-color: #005021bb;

  padding: 2px;

  font-weight: bold;
  
  border-radius: 5px;
}

/*======== Services ========*/
.container .services .link-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;  
}

.container .services .services-link { 
  width: 90%;
  height: 40px;
  margin: 5px 15px;

  color: black;
  font-weight: bold;

  border: rgb(165, 165, 165) solid 2px;
  border-radius: .25rem;
  background-color: rgb(233, 232, 232);

  display: flex;
  align-items: center;
  justify-content: center;
}

/*======== Footer ========*/
footer {
  width: 100vw;
  
  background: grey;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content{
  max-width: 900px;
  width: 100%;
  padding: 10px 0;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
}

.search {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.search-input,
.search-button {
  border-radius: 5px;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  margin-right: 5px;
  padding: 5px 10px;
  height: 20px;
}

.search-button {
  height: 30px;
  padding: 10px;
}

.data-dev {
  margin-bottom: 10px;
}



/*======== Responsive ========*/
@media (max-width: 850px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
  .container .services .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5px;
  }

  .container .services .services-link,
  .informations-pref,
  .search {
    width: 100%;
  }

  .footer-content{
    display: flex;
    flex-direction: column;

    width: 90%;
  }
}